/docs/
/lib/
/bin/ameba
/bin/ameba.cr
/bin/lucky.gen.*
/bin/lucky.exec
/bin/lucky.exec.cr
/bin/lucky.watch
/bin/lucky.watch.cr
/.shards/
/tmp
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
